<!-- Instructor Courses show.html.erb -->
<br />
<h2 style="text-align:center" class="pagetitle">Instructor Course Detail</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<h3 style="text-align:center">Photo Placeholder</h3>
	<br />
	<div class="col-xs-9">
		<h3><%= @course.title %></h3>
		<p><%= @course.description %></p>
	</div>
	<div class="col-xs-3">
		<br />
		<p>Cost placeholder</p>
		<p>Duration placeholder</p>
		<br />
		<div class="text-center">
			<%= link_to "Student Preview", course_path(@course), :class => "btn btn-success btn-sm" %>
		</div>
		<br />
		<div class="text-center">
			<%= link_to "Add a new section...", new_instructor_course_section_path(@course), :class => "btn btn-success btn-sm" %>
		</div>
	</div>
	<br class="clear" />
	<br />
	<!-- I need to be able to order this list "sorting methodologies"? -->
	<ul>
		<% @course.sections.each do |section| %>
			<li>
				<%= section.title %>
				<%= link_to "Add a new lesson...", new_instructor_section_lesson_path(section), :class => "btn btn-success btn-xs pull-right" %>
				<!-- </div> -->
				<ul>
					<% section.lessons.each do |lesson| %>
						<li>
							<b><%= lesson.title %>
							---
							<%= lesson.subtitle %>
						</li>
					<% end%>
				</ul>
				<br class="clear" />
			</li>
			<br />
		<% end %>
	</ul>
	<br />
</div>
<br class="clear" />
