<!-- Instructor Courses show.html.erb -->
<br />
<h2 style="text-align:center" class="pagetitle">Instructor Course Detail</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<h3 style="text-align:center"><%= current_course.title %></h3>
	<br />
	<%= image_tag current_course.image, :class => 'img-responsive' %>
	<br />
	<div class="col-xs-12 col-sm-3 coursebox">
		<p>Cost: <%= number_to_currency current_course.cost %></p>
		<p>Duration placeholder</p>
		<p>By <%= current_course.user %></p>
		<div class="text-center">
			<%= link_to "Student Preview", course_path(current_course), :class => "btn btn-success btn-sm pull-left" %>
		</div>
		<br />
	</div>
	<div class="col-xs-12 col-sm-9">
		<p><%= current_course.description %></p>
	</div>
	<br class="clear" />
	<br />
	<hr />
	<div class="text-center">
		<!-- Bootstrap Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#NewSectionModal">Add a new section...</button>
	</div>
	<br />

	<div class="col-xs-12">
		<ul class="ssortlist">
			<% current_course.sections.rank(:row_order).each do |section| %>
				<div class="section section-box" data-no-turbolink data-supdate-url="<%= instructor_section_path(section) %>">
					<li>
						<span class="glyphicon glyphicon-option-vertical" title="Drag to reorder"></span>
						<h4 style="display:inline" ><%= section.title %></h4>
						<!-- Button trigger New Lesson Modal -->
						<button type="button" class="btn btn-primary btn-xs pull-right new-lesson-button" data-toggle="modal" data-target="#NewLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">Add a new lesson...</button>
						<br class="clear" />
						<ul class="lsortlist">
							<% section.lessons.rank(:row_order).each do |lesson| %>
								<div class="col-xs-12 col-sm-6 lesson lesson-box text-center" data-no-turbolink data-lupdate-url="<%= instructor_lesson_path(lesson) %>">
									<li>
										<span class="glyphicon glyphicon-option-vertical pull-left" title="Drag to reorder"></span>
										<%= link_to lesson.title, lesson_path(lesson) %><br />
										<hr />
										<%= lesson.subtitle %>
									</li>
								</div>
							<% end %>
							<br class="clear" />
						</ul>
					</li>
				</div>
			<% end %>
			<br class="clear" />
		</ul>
	</div>
	<br />
</div>
<br class="clear" />

<script>
$ (function() {
	$ ('.new-lesson-button').click( function(event) {
		var lessonUrl = $(event.target).data('lesson-url');
		$('#newLessonForm').attr('action', lessonUrl);
	});
	$ ('.lsortlist').sortable({
		update: function(event, ui) {
			$.ajax({
				type: 'PUT',
				url: ui.item.data('lupdate-url'),
				dataType: 'json',
				data: { lesson: { row_order_position: ui.item.index() }}
			});
		}
	});
	$ ('.ssortlist').sortable({
		update: function(event, ui) {
			$.ajax({
				type: 'PUT',
				url: ui.item.data('supdate-url'),
				dataType: 'json',
				data: { section: { row_order_position: ui.item.index() }}
			});
		}
	});
});
</script>

<!-- New Section Modal -->
<div class="modal fade" id="NewSectionModal" tabindex="-1" role="dialog" aria-labelledby="NewSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="NewSectionModalLabel">Add A New Section to <%= current_course.title %></h4>
      </div>
      <%= simple_form_for @section, :url => instructor_course_sections_path(current_course) do |f| %>
      	<div class="modal-body">
			<%= f.input :title %>
      	</div>
      	<div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	        <%= f.submit "Add section", :class => 'btn btn-primary pull-right' %>
      	</div>
      <% end %>
    </div>
  </div>
</div>
<!-- End New Section Modal -->

<!-- New Lesson Modal -->
<div class="modal fade" id="NewLessonModal" tabindex="-1" role="dialog" aria-labelledby="NewLessonModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="NewLessonModalLabel">Add A New Lesson to <%= current_course.title %></h4>
      </div>
      <%= simple_form_for @lesson, :url => "#", :html => {:id => 'newLessonForm'} do |f| %>
	      <div class="modal-body">
	        <%= f.input :title %>
	        <%= f.input :subtitle %>
	        <%= f.input :video, as: :file %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <%= f.submit "Add lesson", :class => 'btn btn-primary pull-right' %>
	      </div>
	  <% end %>
    </div>
  </div>
</div>