<!-- Instructor Courses show.html.erb -->
<br />
<h2 style="text-align:center" class="pagetitle">Instructor Course Detail</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<!-- <h3 style="text-align:center"><%= image_tag current_course.image %></h3> -->
	<br />
	<%= image_tag current_course.image, :class => 'img-responsive' %>
	<br />
	<div class="col-xs-9">
		<h3><%= current_course.title %></h3>
		<p><%= current_course.description %></p>
	</div>
	<div class="col-xs-3">
		<br />
		<%= number_to_currency current_course.cost %>
		<p>Duration placeholder</p>
		<br />
		<div class="text-center">
			<%= link_to "Student Preview", course_path(current_course), :class => "btn btn-success btn-sm" %>
		</div>
		<br />
		<div class="text-center">
			<%= link_to "Add a new section...", new_instructor_course_section_path(current_course), :class => "btn btn-success btn-sm" %>
		</div>
	</div>
	<br class="clear" />
	<br />
	<!-- I need to be able to order this list "sorting methodologies"? -->

	<div class="col-xs-12">
		<% current_course.sections.each do |section| %>
			<div class="section section-box">
				<h4 style="display:inline" class="pull-left"><%= section.title %></h4>
				<%= link_to "Add a new lesson...", new_instructor_section_lesson_path(section), :class => "btn btn-success btn-xs pull-right" %>
				</li>
				<br />
				<ul class="lsortlist">
					<% section.lessons.rank(:row_order).each do |lesson| %>
						<div class="col-xs-12 col-sm-6 lesson lesson-box text-center" data-no-turbolink data-update-url=<%= instructor_lesson_path(lesson) %>>
							<!-- <%= link_to lesson_path(lesson) do %> -->
							<%= link_to lesson.title, lesson_path(lesson) %><br />
							<hr />
							<%= lesson.subtitle %>
							<!-- <% end %> -->
						</div>
					<% end %>
				</ul>
				<br class="clear" />
			</div>
			<br class="clear" />
		<% end %>
	</div>
	<br />
</div>
<br class="clear" />

<script>
$ (function() {
	$ ('.lsortlist').sortable({
		update: function(event, ui) {
			$.ajax({
				type: 'PUT',
				url: ui.item.data('update-url'),
				dataType: 'json',
				data: { lesson: { row_order_position: ui.item.index() }}
			});
		}
	});
});
</script>

