<!-- 20151031 new lessons form page new.html.erb -->

<br />
<h2 style="text-align:center" class="pagetitle">Add A New Lesson to <%= current_section.title %></h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<%= simple_form_for @lesson, :url => instructor_section_lessons_path(current_section) do |f| %>
		<%= f.input :title %>
		<%= f.input :subtitle %>
		<br />
		<%= f.input :video, as: :file %>
		<%= f.input :remote_video_url, label: 'or paste video url' %>
		<!-- can I make this either "upload" or "embed" ...? -->
		<br />
		<%= f.submit "Add lesson", :class => 'btn btn-primary pull-right' %>
		<br />
	<% end %>
</div>