<!-- Student Courses Details Page: show.html.erb -->
<br />
<h2 style="text-align:center" class="pagetitle">Course Details</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<br />
	<%= image_tag @course.image, :class => 'img-responsive' %>
	<br />
	<h3 class="text-center"><%= @course.title %></h3>
	<br />
	<div class="col-sm-4 col-xs-12 text-center">
		<span class="label label-default">
			<%= number_to_currency @course.cost %>
		</span>
		<br />
		<% if current_user && current_user == @course.user %>
			<br />
			<%= link_to 'Teacher Admin', instructor_course_path(@course), :class => 'btn btn-primary' %>
		<% end %>
		<br />
		<% if current_user && current_user.enrolled_in?(@course) %>
			<br />
			<h3 class= "label label-info">You Are Enrolled!</h2>
		<% elsif current_user %>
			<br />
			<% if @course.free? %>
				<span data-no-turbolink><%= link_to 'Enroll Now!', course_enrollments_path(@course), :class => 'btn btn-primary', :method => :post %></span>
			<% else %>
				<!-- Stripes Gem Bit -->
				<%= form_tag course_enrollments_path(@course) do %>
					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)" data-amount="<%= (@course.cost * 100).to_i %>"></script>
				<% end %>
				<!-- Stripes Gem Bit -->
			<% end %>
		<% else %>
			<%= link_to 'Log In to Enroll', new_user_session_path, :class => 'btn btn-primary' %>
		<% end %>
	</div>

	<div class="col-sm-8 col-xs-12">
		<%= @course.description %>
	</div>
	<br class="clear" />
	<br />
	<div class="col-xs-12">
		<% @course.sections.rank(:row_order).each do |section| %>
			<div class="section section-box">
				<h4><%= section.title %></h4>
				<br />
				<% section.lessons.rank(:row_order).each do |lesson| %>
					<div class="col-xs-12 col-sm-6 lesson lesson-box text-center" data-no-turbolink>
						<%= link_to lesson.title, lesson_path(lesson) %><br />
						<hr />
						<%= lesson.subtitle %>
					</div>
				<% end %>
				<br class="clear" />
			</div>
		<% end %>
	</div>

	<br class="clear" />
</div>
