<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Brew-U</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/5.0.2/video.js"></script>
</head>
<body>
	<div id="wrap">
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to 'BREW-U', root_path, :class => "navbar-brand" %>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <!-- <li><a href="#">See All Courses</a></li> -->
		        <li><%= link_to "See All Courses", courses_path %></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<% if user_signed_in? %>
		      		<li><%= link_to 'My Dashboard', dashboard_path %></li>
		      		<li><%= link_to destroy_user_session_path, :method => :delete do %>
		      			Log Out
		      			<span><small>(<%= current_user.email %>)</small></span>
		      		<% end %></li>
		      	<% else %>
			        <li><%= link_to "Log In", new_user_session_path %></li>
			    <% end %>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<% if notice.present? %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>

		<% if alert.present? %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<%= yield %>

	</div>

	<br class="clear" />

	<div id="footer">
		<div class="container">
			<div class="col-xs-6 col-sm-3">
				<h4>Teachers</h4>
				<br />
				<%= link_to 'Teach a Course', new_instructor_course_path %>
				<br />
				<%= link_to 'Go To Dashboard', dashboard_path %>
				<br />
			</div>
			<div class="col-xs-6 col-sm-3">
				<h4>About</h4>
				<br />
				<!-- <%= link_to 'Team', '#' %> -->
				<a href="http://www.girlgeniusonline.com/comic.php?date=20070618#.Vk7aEGSrSM4" target="_blank">BrewMistress</a>
				<br />
				<%= link_to 'Careers', careers_path %>
				<br />
				<%= link_to 'Privacy Policy', privacy_path %>
				<br />
			</div>
			<div class="col-sm-3 extra">
				<h4>Contact</h4>
				<br class="extra"/>
<!-- 				amarkpark@gmail.com
				<br />
				123 Easy Street
				<br />
				Springfield, IL 65432
				<br /> -->
				<a href="mailto:amarkpark@gmail.com?subject=Brew-U"><img src="/assets/Aquicon-Email.png" class="smpng" /></a>
			</div>
			<div class="col-xs-12 col-sm-3 text-center social">
				<h4>Social</h4>
				<br />
				<a href="mailto:amarkpark@gmail.com?subject=Brew-U"><img src="/assets/Aquicon-Email.png" class="smpng mobilecontact" /></a>
				<%= link_to 'http://github.com/amarkpark', :target => "_blank" do %>
					<%= image_tag 'Aquicon-Github.png', :class => 'smpng' %>
				<% end %>
				<%= link_to 'https://plus.google.com/u/0/107492875773893304752/posts', :target => "_blank" do %>
					<%= image_tag 'Aquicon-GooglePlus.png', :class => 'smpng' %>
				<% end %>
				<%= link_to 'https://twitter.com/amarkpark', :target => "_blank" do %>
					<%= image_tag 'Aquicon-Twitter.png', :class => 'smpng' %>
				<% end %>
				<br />
			</div>
		</div>
	</div>

</body>
</html>
